// Copyright 2022 Johannes Marbach
//
// This file is part of myhours-browser-extension, hereafter referred
// to as the program.
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-top: 1px solid #dee2e6;
  padding-top: 0.5em;

  button+button {
    margin-left: 0.3em;
  }

  .options-button {
    text-align: center;
    background-color: white;
    color: #2dB67e;
    border: 1px solid #2dB67e;
    border-radius: 4px;
  }

  .options-button:hover {
    background-color: #2dB67e;
    color: white;
    cursor: pointer;
  }

  .log-out-button {
    text-align: center;
    background-color: white;
    color: #f2593d;
    border: 1px solid #f2593d;
    border-radius: 4px;
  }
  
  .log-out-button:hover {
    background-color: #f2593d;
    color: white;
    cursor: pointer;
  }
}
