// Copyright 2022 Johannes Marbach
//
// This file is part of myhours-browser-extension, hereafter referred
// to as the program.
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

@use "../common.scss";

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }

  input[type=text], input[type=password] {
    margin-bottom: 1em;
  };

  .LoginForm_status_container {
    position: relative;
    height: 0;
    overflow: visible;

    .Loader {
      margin-top: 1em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  
    .ErrorLabel {
      margin-top: 1em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

}
