// Copyright 2022 Johannes Marbach
//
// This file is part of myhours-browser-extension, hereafter referred
// to as the program.
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

@use "../color.scss";

.TimesheetTable {
  color: color.$text;

  td + td, th + th {
    padding-left: 0.3em;
  }

  td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 1px solid color.$border;
  }

  td:nth-child(1) {
    width: 55%;
  }

  td:nth-child(2) {
    width: 32%;
  }

  td:nth-child(3) {
    width: 8%;
  }

  td:nth-child(4) {
    width: 5%;
  }

  th {
    padding-bottom: 0.3em;
  }

  td input, td button {
    width: 100%;
    line-height: 1.35715;
  }

  td input {
    color: color.$text;

    border: 1px solid color.$border;
    border-radius: 4px;
  }

  td input::placeholder {
    color: color.$border;
    opacity: 1;
  }

  td input:disabled {
    background-color: color.$disabled;
  }

  td button {
    text-align: center;
    background-color: color.$primary-background;
    color: color.$negative;
    border: 1px solid color.$negative;
    border-radius: 4px;
  }

  td button:disabled {
    color: color.$border;
    border-color: color.$border;
    background-color: color.$disabled;
  }
  
  td button:not([disabled]):hover {
    background-color: color.$negative;
    color: color.$text-light;
    cursor: pointer;
  }
}
