// Copyright 2022 Johannes Marbach
//
// This file is part of myhours-browser-extension, hereafter referred
// to as the program.
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>.

@use "color.scss";

* {
  color: color.$text;
}

input {
  line-height: 1.35715;
}

input[type=text], input[type=password] {
  border: 1px solid color.$border;
  border-radius: 4px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
  color: color.$border;
  opacity: 1;
}

input[type=text]:disabled, input[type=password]:disabled {
  background-color: color.$disabled;
}
